.owl-carousel{
	width:100%;
	margin:auto;
}

.post-slide{
    /*padding-right:20px;*/
	background: #E8E8E8;/*#F5F5F5;*/
	margin: 20px;
	    filter: drop-shadow(2px 2px 2px #E8E8E8);
  -webkit-filter: drop-shadow(2px 2px 6px #E8E8E8);
  padding-bottom: 15px;
}

.post-slide:hover{
	transform: scale(1.1);
	transition: all 0.5s ease 0s;
}

.post-slide .post-comment{
	color:gray;
}

.post-slide img{
    width: 100%;
    height: auto;
}
.post-slide .post-review{
   padding:0 17px 17px 0;

}
.post-slide .post-date{
    float:left;
    margin-right: 10px;
    padding: 8px 15px;
    text-align:center;
    /*background:#444;*/
    font-size:26px;
    color:#A9A9A9;
    font-weight:700;
	padding-bottom: 20px;
    /*transition:background 0.20s linear 0s;*/
}
/*.post-slide:hover .post-date{
    background:#078071;
}*/

.image-to-overlay{
	position:relative;
}

.post-slide:hover .blog-overlay{
    opacity:.5;
}

.blog-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .2s ease;
  background-color: #008CBA;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


.post-slide .post-date small{
    display:block;
    margin-bottom:10px;
    font-size: 13px;
    /*text-transform: capitalize;*/
}
.post-slide .post-date small:before{
    content:"";
    display:block;
    margin-bottom:5px;
    border-top:1px solid #A9A9A9;
}
.post-slide .post-title{

    padding-top: 10px;
}
.post-slide .post-title a{
    font-size:16px;
    color: #444;
    /*text-transform: uppercase;*/

	margin-top: 10px;
    display: block;
    line-height:20px;

}
/*.post-slide:hover .post-title a{
    color:#078071;
    text-decoration:none;
}*/
.post-comment{
    margin: 0;
    list-style:none;
}
.post-comment li a{
    color:#a9a9a9;
    /*text-transform:capitalize;*/
}
.post-comment li a:before{
    content:"|";
    margin:0 5px 0 5px;
    color:#d3d3d3;
}
.owl-buttons{
    text-align:center;
}

.owl-buttons .owl-prev,
.owl-buttons .owl-next{
    display:inline-block;
    /*border:1px solid #d3d3d3;*/
    /*border-radius:4px;*/
	background: transparent;
	/*border: 2px solid #053740;*/
	color: #053740;
	
    /*margin-right:20px;
    padding:8px 15px; KEEP?*/
    margin:17px;
    /*transition:all 0.30s linear 0s;*/
	margin-bottom: 30px;
}
.owl-buttons .owl-prev:after,
.owl-buttons .owl-next:after{
    content:"\f104";
    font-family: FontAwesome;
    color: #053740/*#d3d3d3*/;
    font-weight:bold;
	font-size:20px;
}
.owl-controls .owl-buttons .owl-next:after{
    content:"\f105";
}
.owl-buttons .owl-prev:hover,
.owl-buttons .owl-next:hover{
    /*border: 1px solid #078071;*/
	/* border:#D3D3D3 2px solid;*/
	color: #D3D3D3;  
}

.owl-buttons .owl-prev:hover:after,
.owl-buttons .owl-next:hover:after{
    /*border: 1px solid #078071;*/
	color: #D3D3D3;  
}


@media only screen and (max-width: 480px) {
    .post-slide{
        padding: 0;
    }
}

/*************** BLOG ARTICLE SECTION******************/
.blog-article {
	margin-bottom: 40px;
}

#cms-connectors .intro{
background: url(../images/connect.jpg) no-repeat center center;
}

#smt-nmt .intro{
background: url(../images/artificial-intelligence.jpg) no-repeat center center;
}

.blog-article .intro-text{
padding:60px 4px;
}



.blog-article .overlay{
	min-height:300px;
	padding:0;
}

.blog-article .subtitle{
	/*font-size: 20px;*/
	font-style:italic;
	color:#333;
	
}

.blog-article h1{
	font-size:40px;
}

.blog-article h2, .blog-article h3, .blog-article h4{
	color:gray;
}

.blog-article .container{
	padding-top: 40px;
}

.blog-article h2{
	font-size: 30px;
	margin-top: 40px; 
}

.blog-article p, .blog-article li, .blog-article td{
	color:gray;
	margin-bottom: 30px;
	font-size: 16px;
}

.blog-article a {
  color:#33cccc;
  text-decoration:underline;
}

.blog-article a:hover {
  
  text-decoration:none;
}


.blog-article ol {
	margin-left:40px;

}

.blog-article table{
  width: 70%;
  margin:auto;
}

.blog-article td{
 padding:10px;
}

.blog-article-image {
  display:block;
width: 45%;
margin:auto;
}

